@media (max-width: 1200px ){

}
@media (max-width: 991px){
	.promo{
		padding: 21px 17px 10px 17px;
	}
	.consultation{
		.title_left{
			text-align: center;
		}
		&__text{
			text-align: center;
		}
		.feed-form{
			margin: 0 auto;
			margin-top: 20px;
		}
	}
	.corusel{
		padding: 82px 0;
		.owl-carousel{
			width: 500px;
			margin: 0 auto;
			position: relative;
		}
	}
	
}  
@media (max-width: 767px){
	.promo{
		padding: 21px 17px 10px 17px;
	}
	
	.header{
		&__logo{
			min-width: 251px;
				img{
					width: 85%;
				}
			}
		&__official{
			display: none;
		}
		&__contacts{
			button{
				width: 175px;
    			height: 40px;
				font-size: 16px;
			}
	}
}
	.advanteges__wrapper{
		flex-direction: column;
	}
	.advanteges__object{
		margin-bottom: 50px;
	}
	.advanteges__text{
		font-size: 23px;
	}

}
@media(max-width:575px){
	.promo{
		&__header{
			font-size: 31px;
		}
		&__icons{
			width: 385px;
		}
		&__link{
			display: block;
			margin: auto;
			margin-top: 30px;
		}
			
	}
	.header{
		&__logo{
			min-width: 150px;
				img{
					width: 85%;
				}
			}
		&__official{
			display: none;
		}
		&__phone{
			display: none;
		}
		&__contacts{
			button{
				width: 175px;
    			height: 40px;
				font-size: 16px;
			}
		}
	}
	.button_main{
		margin: auto;
		margin-top: 50px;
	}

	.corusel{
		padding: 82px 0;
		.owl-carousel{
			width: 387px;
			margin: 0 auto;
			position: relative;
		}
		.owl-item {
			width: 80%;
		}

	}
	.catalog{
		.catalog__tab{
			width: 166px;
		}
		.catalog__content{
			justify-content: center;
		}
	}
	.rewiew{
		&__wrapper{
			padding: 0 20px;
		}
	}
	
}
@media(max-width:424px){
	.promo{
		&__header{
			font-size: 27px;
		}
		&__icons{
			width: 339px;
		}
		&__link{
			display: block;
			margin: auto;
			margin-top: 30px;
		}
			
	}
	.header{
		&__logo{
			min-width: 150px;
				img{
					width: 85%;
				}
			}
		&__official{
			display: none;
		}
		&__phone{
			display: none;
		}
		&__contacts{
			button{
				width: 175px;
    			height: 40px;
				font-size: 16px;
			}
		}
	}
	.button_main{
		margin: auto;
		margin-top: 50px;
	}
	.advanteges{
		&__header{
			font-size: 24px;
		}
		&__subheader{
			font-size: 23px;
		}
		&__text{
			margin: auto;
		}
		
	}
	.consultation{
		.title_left{
			font-size: 24px;
		}
		
	}
	.catalog{
		.catalog__tab{
			width: 115px;
			font-size: 11px;
		}

	}
	.rewiew{
		&__people{
			flex-direction: column;
		}
		&__img{
			display: block;
			margin: 0 auto;
			margin-bottom: 20px;
		}
		.rewiew__dscr{
			height: 350px;
			width: 280px;
		}
		.rewiew__boi{
			font-size: 18px;
		}
		.rewiew__name{
			text-align: center;
		}
		.rewiew__maraphone{
			text-align: center;
		}
	}
	
}
@media(max-width:374px){
	.header{
		display: none;
	}
	.promo{
		&__header{
			font-size: 23px;
		}
		&__subheader{
			font-size: 24px;
		}
		&__icons{
			width: 298px;
		}
		&__icon{
			font-size: 11px;
		}
	}
	.consultation{
		.title_left{
			font-size: 18px;
		}
		&__text{
			font-size: 15px;
		}
	
		.feed-form{
			width: 250px;
		}
	}
	.corusel{
		padding: 82px 0;
		.owl-carousel{
			width: 250px;
			margin: 0 auto;
			position: relative;
		}
		.owl-item{
			img{
				width: 65%;
			}
		}
	}
	.catalog{
		.catalog__tab{
			width: 99px;
		}
	}
	.rewiew{
		.rewiew__dscr{
			margin-left: 38px;
		}
	}
}
