
@media (max-width: 1200px ){
	.modal{
		width: 380px;
	}
	

}
@media (max-width: 1024px ){
	.corusel{
		.owl-carousel{
			width: 74%;
			img{
				width: 69%;
			}
		}
	}
}

@media (max-width: 991px){
	.promo{
		padding: 21px 17px 10px 17px;
	}
	.consultation{
		.title_left{
			text-align: center;
		}
		&__text{
			text-align: center;
		}
		.feed-form{
			margin: 0 auto;
			margin-top: 20px;
		}
	}
	.corusel{
		padding: 82px 0;
		.owl-carousel{
			width: 500px;
			margin: 0 auto;
			position: relative;
		}
	}
	
}  
@media (max-width: 767px){
	.promo{
		padding: 21px 17px 10px 17px;
	}
	
	.header{
		&__logo{
			min-width: 251px;
				img{
					width: 85%;
				}
			}
		&__official{
			display: none;
		}
		&__contacts{
			button{
				width: 175px;
    			height: 40px;
				font-size: 16px;
			}
	}
}
	.advanteges__wrapper{
		flex-direction: column;
	}
	.advanteges__object{
		margin-bottom: 50px;
	}
	.advanteges__text{
		font-size: 23px;
	}

}
@media(max-width:575px){
	.promo{
		&__header{
			font-size: 31px;
		}
		&__icons{
			width: 385px;
		}
		&__link{
			display: block;
			margin: auto;
			margin-top: 30px;
		}
			
	}
	.header{
		&__logo{
			min-width: 150px;
				img{
					width: 85%;
				}
			}
		&__official{
			display: none;
		}
		&__phone{
			display: none;
		}
		&__contacts{
			button{
				width: 175px;
    			height: 40px;
				font-size: 16px;
			}
		}
	}
	.button_main{
		margin: auto;
		margin-top: 50px;
	}

	.corusel{
		padding: 82px 0;
		.owl-carousel{
			width: 387px;
			margin: 0 auto;
			position: relative;
		}
		.owl-item {
			width: 80%;
		}

	}
	.catalog{
		.catalog__tab{
			width: 106px;
			font-size: 10px;
		}
		.catalog__content{
			justify-content: center;
		}
	}
	.rewiew{
		&__wrapper{
			padding: 0 20px;
		}
	}
	.modal{
		width: 320px;
		.modal__dscr{
			font-size: 12px;
		}
		.feed-form_mt25{
			width: 240px;
			margin-top: 8px;
		}
		

	}
	.footer{
		margin-top: 180px;
	}
	.footer{
		.footer__dscr{
			width: 429px;
		}
	}
	
}
@media(max-width:425px){
	.promo{
		&__header{
			font-size: 27px;
		}
		&__icons{
			width: 339px;
		}
		&__link{
			display: block;
			margin: auto;
			margin-top: 30px;
		}
			
	}
	.header{
		&__logo{
			min-width: 150px;
				img{
					width: 85%;
				}
			}
		&__official{
			display: none;
		}
		&__phone{
			display: none;
		}
		&__contacts{
			button{
				width: 175px;
    			height: 40px;
				font-size: 16px;
			}
		}
	}
	.button_main{
		margin: auto;
		margin-top: 50px;
	}
	.advanteges{
		&__header{
			font-size: 24px;
		}
		&__subheader{
			font-size: 23px;
		}
		&__text{
			margin: auto;
		}
		
	}
	.consultation{
		.title_left{
			font-size: 24px;
		}
		
	}
	.catalog{
		.catalog__tab{
			width: 91px;
			font-size: 10px;
		}

	}
	.rewiew{
		&__people{
			flex-direction: column;
		}
		&__img{
			display: block;
			margin: 0 auto;
			margin-bottom: 20px;
		}
		.rewiew__dscr{
			height: 350px;
			width: 280px;
		}
		.rewiew__boi{
			font-size: 18px;
		}
		.rewiew__name{
			text-align: center;
		}
		.rewiew__maraphone{
			text-align: center;
		}
	}
	.modal{
		width: 280px;
		.modal__dscr{
			font-size: 12px;
		}
		.feed-form_mt25{
			width: 212px;
			margin-top: 10px;
		}
		

	}
	.footer{
		.footer__dscr{
			width: 382px;
		}
	}
	
}
@media(max-width:375px){
	.header{
		display: none;
	}
	.promo{
		&__header{
			font-size: 23px;
		}
		&__subheader{
			font-size: 24px;
		}
		&__icons{
			width: 298px;
		}
		&__icon{
			font-size: 11px;
		}
	}
	.consultation{
		.title_left{
			font-size: 18px;
		}
		&__text{
			font-size: 15px;
		}
	
		.feed-form{
			width: 250px;
		}
	}
	.corusel{
		padding: 82px 0;
		.owl-carousel{
			width: 250px;
			margin: 0 auto;
			position: relative;
		}
		.owl-item{
			img{
				width: 65%;
			}
		}
	}
	.catalog{
		.catalog__tab{
			width: 59px;
			font-size: 0;
		}
	}
	.rewiew{
		.rewiew__dscr{
			margin-left: 38px;
		}
	}
	.modal{
		width: 265px;
		.modal__dscr{
			font-size: 0;
		}
		.feed-form_mt25{
			width: 178px;
		}
		.modal__close{
			top: -50px;
    		right: -30px;
			font-size: 48px;
		}

	}	
	.footer{
		.footer__dscr{
			width: 322px;
		}
	}
}

@media(max-width:320px){
	.catalog{
		.catalog__tab{
			width: 66px;
			font-size: 0;
		}
	}
	
	.footer{
		.footer__dscr{
			width: 319px;
		}
	}
}